<div>
<h5>Add a Plane to the Registry</h5>
<form action ='/' method = 'post'>
Plane Type: <input type ="text" name="name">
Registration:<input type ="text" name="registration">
Year <input type ="text" name ="year">
<input type="submit" value="Submit">
</form>

<% @airplanes.each do |plane| %>
<a href = "<%=plane.id%>"><%=plane.name%></a>
<span> <%=plane.registration%> <%=plane.year%></a>
<br>
<%end%>

</div> 